@import '../../styles/variables';

.details-con {
    background-color: $shades-blue-20;
    padding: 16px 20px;

    .icon-con {
        padding: 8px;
        border-radius: 25px;
        background-color: $action-secondary-focus;
    }
}