@import '../../../../styles/variables';

.company-card-con {
        padding: 22px;
        border-radius: 2.476px;
        border: 0.1px solid $paper-gray;
        background: $universal-snowflake;
        box-shadow: 6px 10px 17px 0px rgba(177, 177, 177, 0.08);

        .company-details-con {
            border: 1px solid $shades-gray-01;
            width: 100%;

            .details-columns {
                padding: 20px 30px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 100px;
                row-gap: 10px;
            }
        }
}

@media screen and (max-width: 1000px) {
    .company-card-con {
        .company-details-con {
            .details-columns {
                grid-template-columns: 1fr 1fr;
                row-gap: 50px;
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .company-card-con {
        .company-details-con {
            .details-columns {
                grid-template-columns: 1fr !important;
            }
        }
    }
}

