@import '../../styles/variables';


    .logo-con {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 18px 11px;
        box-shadow: 0px 12px 24px -10px rgba(0, 0, 0, 0.06);
    }
    
    .menu-item-con {
        background: $paper-gray;
        overflow-y: scroll;
        flex: 1;

        .name-con {   
            padding: 22px 11px;

            img{
                padding: 5px;
                border-radius: 50px;
                background-color: $shades-blue-70;
            }
        }
        .my-inbox {
            padding: 20px;
            width: 100%;
        }
        .single-menu-item {
            height: 54px !important;
            display: flex;
            align-items: center;
            gap: 22px;
            padding: 10px 0 10px 30px;
            cursor: pointer;
        }
    
        .single-menu-item:hover{
            background: $action-primary-focus;
        }
    }

    @media screen and (max-width: 900px) {

        .logo-con {
            justify-content: center !important;
        }

        .my-inbox {
            padding: 20px 0 !important;
            text-align: center;
        }

        .menu-item-con {
            justify-content: center !important;

            .single-menu-item {
                justify-content: center !important;
                padding: 10px 0;
            }
        }

        .mobile-resp {
            display: none !important;
        }
    }