@import '../../styles/variables';

    // .menu-section{

        .logo-con {
            padding: 18px 11px;
            box-shadow: 0px 12px 24px -10px rgba(0, 0, 0, 0.06);
        }

        .name-con {   
            padding: 22px 11px;

            img{
                padding: 5px;
                border-radius: 50px;
                background-color: $shades-blue-70;
            }
        }

        .my-inbox {
            padding: 20px;
            width: 100%;
        }

        .single-menu-item {
            display: flex;
            align-items: center;
            gap: 22px;
            padding: 10px 30px;
            cursor: pointer;
            overflow: hidden;
        }

        .single-menu-item:hover{
            background: $action-primary-focus;
        }
// }