@import './styles/variables';

.app {
    width: 100vw;
    height: 100vh;

    .menu-con {
        width: 15%;
        min-width: 220px;
        background-color: $paper-gray;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 0;
        height: 100%;
    }


    .main-content {
        flex: 1;
    }
}

@media screen and (max-width: 900px) {
    .menu-con {
        min-width: 70px !important;
        width: 70px !important; 
    }
}