@import './styles/variables';

.app {

    .menu-con {
        width: 15%;
        min-width: 220px;
        background-color: $paper-gray;
        padding: 18px 11px;
        height: 100%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .main-content {
        flex: 1;
    }
}