@import '../../styles/variables';

.homepage {
    padding: 45px;
    overflow: hidden;
    overflow-y: scroll;

    .brand-campaign-con {

    }
}


@media screen and (max-width: 700px) {
    .homepage{
        padding: 20px;
    }
}